<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  
      <header>
        <img src="/images/limao1.png" class="img-fluid" style="border-radius: 50px;" alt="...">
      </header>
      <main class="container">
        
        
        <div class="row" >

          <% cards.forEach(card => { %>
            
            <div class="col-6 col-md-3 mt-3">
              <div class="card">
                <% var produtos = produtos.filter(produto => produto.categoryId == 1); %>
                <img src="<%= card.picture %>" class="card-img-top" alt="..."  style="width: 9rem; height: 9rem;" >
                <div class="card-body">
                  <h5 class="card-nome"><%= card.name %> </h5>
                  <h6 class="card-text"><%= card.price %> </h6>
                  <a href="#" class="btn btn-primary"><%= card.botao %> </a>
                </div>
              </div>
            </div>
          <% }) %>
               </div>
      </main>
      </div>
      <%- include('./partials/wpp') %> 
      <%- include('./partials/footer') %> 
</body>
</html>