<%- include('./partials/head'); %>  
<%- include('./partials/header'); %>  
      <header>
        <img src="/images/tomates.png" class="img-fluid" style="border-radius: 50px;" alt="...">
      </header>
      <main class="container">
        
        
        <div class="row" >

          <% products.forEach(product => { %>
            
            <div class="col-6 col-md-3 mt-3">
              <div class="card">
               
                <img src="<%=product.picture%>" class="card-img-top" alt="..."  style="width: 9rem; height: 9rem;" >
                <div class="card-body">
                  <h5 class="card-nome"><%=product.name%></h5>
                  <% if(product.sale == 0) { %>
                  <p></p>
                  <h6 class="card-text">Por: R$ <%=product.price.toFixed(2)%> /Kg</h6>
                  <% } else { %>
                  <h6 class="card-text">De: R$ <%=product.price.toFixed(2)%> /Kg</h6>
                  <h6 class="card-text">Por: R$ <%=product.salePrice.toFixed(2)%> /Kg</h6>
                  <% } %>
                  <a href="/product/<%=product.id%>" class="btn btn-primary">Comprar</a>
                </div>
              </div>
            </div>
          <% }) %>
               </div>
      </main>
    <%- include('./partials/wpp') %> 
    <%- include('./partials/footer') %> 
</body>
</html>